.bg-image{
	background-size:cover;
	height:100vh;
	width:100%;
	position:fixed;
	z-index:-1;
}

.page-title{
	h1{
		margin:auto 15px;
		i, img{
			margin: auto 15px;
		    margin-bottom: 15px;
		}
	}
	h4{
		margin-left:25px;
	}
}

.job-title{
	@include sans-serif-font;
	text-transform: uppercase;
	/*font-weight: bold;*/
}

.announcement{
    margin: 5rem 0;
	.sans{
		font-size: 3rem;
	    margin: 0;
	    line-height: 20px;
	}
	.serif {
	    font-size: 6rem;
	    margin: 0;
	    text-transform: capitalize;
	} 
	.stat-table{
		@include serif-font;
		font-size: 2rem;
	}
}

.brag .item{
	p:first-child:first-letter {
	  color: $themePrimary;
	  float: left;
	  font-family: Georgia;
	  font-size: 75px;
	  line-height: 60px;
	  padding-top: 4px;
	  padding-right: 8px;
	  padding-left: 3px;
	}
}

.quote{
	width:450px;
	padding:2.5rem;
	font-family:'Niconne',cursive;
	font-size:2.5rem;
}

