.bg-image{
	background-size:cover;
	height:100vh;
	width:100%;
	position:fixed;
	z-index:-1;
}

.page-title{
	h1{
		margin:auto 15px;
		i, img{
			margin: auto 15px;
		    margin-bottom: 15px;
		}
	}
	h4{
		margin-left:25px;
	}
}

.team-caption{
	h3{
		a{
			color:white;
			opacity:0.9;
			transition:1s ease-in-out;
			&:hover{
				opacity:1;
			}
		}
	}
}

.team-carousel .item .overlay{
	transition:1s ease-in-out;
	&:hover{
		opacity:0.1;
		transition:1s ease-in-out;
		.team-caption h3 a{
			color:$themePrimary;
		}
	}
}

.job-title{
	@include sans-serif-font;
	text-transform: uppercase;
	/*font-weight: bold;*/
}

.announcement{
    margin: 5rem 0;
	.sans{
		font-size: 3rem;
	    margin: 0;
	    line-height: 2.5rem;
	}
	.serif {
	    font-size: 6rem;
	    margin: 0;
	    text-transform: capitalize;
	} 
	.stat-table{
		@include serif-font;
		font-size: 2rem;
	}
	.sans.alt{
		font-family: 'freight-sans-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
		font-size: 1.5rem;
		font-weight: bold;
		text-transform:uppercase;
	} 
	.serif.alt{
		font-family: freight-text-pro;
		font-size: 4rem;
		line-height: 5.5rem;
	}
}


.anchor{ 
	margin-top: -85px; 
	padding-bottom: 85px; 
	display: block;
}


.brag .item{
	p:first-child:first-letter {
	  color: $themePrimary;
	  float: left;
	  font-family: Georgia;
	  font-size: 75px;
	  line-height: 60px;
	  padding-top: 4px;
	  padding-right: 8px;
	  padding-left: 3px;
	}

}

@media (max-width: 767px) {
    .item .img {
        max-width:100%;
    }
}


.quote{
	width:450px;
	padding:2.5rem;
	font-family:'Niconne',cursive;
	font-size:2.5rem;
	max-width:100%;
}

.mission{
	    padding: 5vh;
}

