ul.neighborhoods{
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 25px;
    .hood {
	    display: inline-flex;
	    a {
		    border: 2px solid white;
		    padding: 10px 15px;
		    color: white;
		    font-family: 'freight-sans-pro';
		    &:hover{
			    background:white;
			    color:#222;
			    transition:.5s ease-in-out;
		    }
		}
	}
}


.listing{
	img{
	    width:100%;
	}
	h4{
	    position: absolute;
	    top: 45%;
	    left: 50%;
	    transform: translateY(-50%) translateX(-50%);
	    background: rgba(255,255,255,0.8);
	    padding: 10px 15px;
	    a{
	    	color:#222;
	    	&:hover{
	    		color: $themePrimary;
	    	}
	    }
	}
	.category{
	    position: absolute;
	    top: 10px;
	    left: 25px;
	    padding: 5px 10px;
	    background: #222;
	    color: white;
	    h6{
			margin:0;
	    }
	}
	.image-holder{
		height:350px;
		background:#666;
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center;
	}
	.meta.d-flex > span {
	    width: 100%;
	    font-family: 'freight-sans-pro';
	    font-size: 1rem;
	    padding:15px 10px;
	    strong{
	    	font-weight: 600;
	    }
	}
} 

.upcoming .category{
	background-color: $themePrimary;
}

.sold-listings .category{
	background-color: #666;
}

.mix-button{
    padding:15px;
    margin:15px 5px;
}

button.mixitup-control-active {
    background: white;
    color: #222;
    border-color: white;
}

button.btn-primary:hover, button.btn-primary:focus {
    color: white;
    border-color: white;
    background-color: #222;
    box-shadow:none;
    outline:0px;
}


.meta.d-flex > span:last-child {
    border: none;
}

.related{
    display: flex;
    flex-wrap:nowrap;
    justify-content: left;
    visibility: visible;
    animation-name: fadeIn;
    width: 100%;
    margin:0 auto;
    overflow-x: scroll;
    .thumb img{
    width:inherit;
    }
}
