header.masthead {
    position: relative;
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: $themeDark;
    @include background-cover;
    @include background-fixed;
    .masthead-img {
        max-width: 150px;
        max-height: 150px;
    }
    .masthead-title {
        font-size: 4rem;
        line-height: 4rem;
        @include heading-font;
    }
    .masthead-subtitle {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    @media (min-width: 992px) {
        height: 100vh;
        min-height: 700px;
        padding-top: 0;
        padding-bottom: 0;
        .masthead-img {
            max-width: 250px;
            max-height: 250px;
        }
        .masthead-title {
            font-size: 5rem;
            line-height: 5rem;
        }
        .masthead-subtitle {
            font-size: 2rem;
            line-height: 2rem;
        }
    }
}

header.video {
    background: transparent;
    .overlay {
        position: absolute;
        top:0;
        z-index: 998;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: #222;
    }
    .container,
    .scroll-down {
        z-index: 999;
    }
}

@media(min-width: 992px) {
    header.video {
        .overlay {
            opacity: .5;
        }
    }
}

@media(max-width: 576px){
    .masthead-img img{
        width:320px !important;
    }
}

.masthead-img svg {
    height: 450px;
}

.scroll-jump{
    padding: 10px 15px;
    color: white;
    border:2px solid white;
    transition:1s ease-in-out;
    &:hover{
        transition:1s ease-in-out;
        background: rgba(255, 255, 255, 0.83);
        color:$themeDark;
    }
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left:0px;
    width: 100%;
    text-align: center;
    .btn {
        font-size: 30px;
        line-height: 50px;
        width: 50px;
        height: 50px;
        padding: 0;
        letter-spacing: normal;
        color: white;
        border: 2px solid white;
        border-radius: 100% !important;
        @include transition-all;
        &:hover {
            color: fade-out(white, 0.5) !important;
            border-color: fade-out(white, 0.5);
            outline: none;
        }
    }
}
