.owl-carousel.owl-theme {
    .owl-controls {
        margin-top: 0;
        .owl-prev,
        .owl-next {
            font-size: 30px !important;
            line-height: 50px;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 40px;
            height: 60px;
            margin: auto 0 !important;
            text-align: center;
            color: white !important;
            border-radius: 0 !important;
            background-color: $themePrimary !important;
            @include transition-all;
            &:hover {
                opacity: 1;
            }
                @media (max-width: 992px){
            #mainNav .container{
                justify-content:space-between;
        

            }
            }
        }  
            
    }
}

@media (max-width: 992px){
    .owl-buttons{
        display:none;
    }
}


.owl-controls {
    .owl-prev {
        left: 0;
    }
    .owl-next {
        right: 0;
    }
}
