// Core variables and mixins
$themePrimary: #EF4035;
$themeDark: #222;
@import "mixins.scss";
// Global Styles
@import "global.scss";
@import "typography.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "team.scss";
@import "call-to-action.scss";
@import "services.scss";
@import "portfolio.scss";
@import "explore.scss";
@import "testimonials.scss";
@import "pricing.scss";
@import "signup-form.scss";
@import "about.scss";
@import "listings.scss";
@import "contact.scss";
@import "iframe.scss";
@import "footer.scss";
// Bootstrap and Plugin Overrides
@import "bootstrap-overrides.scss";
@import "owl-carousel-overrides.scss";
@import "swiper-overrides.scss";
@import "vidplayer-overrides.scss";
@import "animate.scss";
@import "swiper.scss";
@import "font-awesome.scss";
