    
    <!-- Footer -->
    <footer class="footer" style="background-image: url('{{ footer.metadata.footer_bg.url }}?w=1500&fit=crop&crop=entropy&auto=format,enhance')">
        <div class="text-center">
            <img class="img-fluid logo" src="{{ logos.metadata.text_logo.url }}" alt="">
        </div>
        <div class="text-center">
                <ul class="footer nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/listings">Listings</a>
                  </li>
                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                </ul>
        </div>
            <div class="row footer-social text-center">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li class="header">
                          <h6 style="font-weight:bold;font-family:'freight-sans-pro',helvetica,sans-serif; margin:25px 0;">Connect With Us</h6>                          
                        </li>
                        <li class="list-inline-item">
                            <a href="tel:773-317-0414"><i class="fa fa-phone fa-fw fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://facebook.com/izabelaslomarealestate"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://twitter.com/slomarealestate"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://linkedin.com/in/izabelasloma"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://instagram.com/slomarealestate"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-google-plus fa-fw fa-2x"></i></a>
                        </li>

                    </ul>
                    <p class="copyright text-center" style="font-weight:bold;font-family:'freight-sans-pro',helvetica,sans-serif; margin:25px 0;">&copy;&nbsp;&nbsp;{{ year }} Sloma Real Estate Group</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img src="{{ cosmic.object.logos.metadata.jameson_logo.url }}" alt="" width="250px">
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img src="{{ cosmic.object.logos.metadata.equal_logo.url }}" alt="" width="50px">
                        </li>
                        <li class="list-inline-item" style="width:25px;"></li>
                        <li class="list-inline-item">
                            <img src="{{ cosmic.object.logos.metadata.realtor_logo.url }}" alt="" width="50px">
                        </li>
                    </ul>
                    <p class="text-center self-center col-md-6 offset-md-3 offset-sm-2 col-sm-8 offset-xs-1 col-xs-10 mt-2" style="font-size:12px;" >
                        Sotheby’s International Realty and the Sotheby’s International Realty logo are registered (or unregistered) service marks used with permission. Sotheby’s International Realty Affiliates LLC fully supports the principles of the Fair Housing Act and the Equal Opportunity Act. Each Office Is Independently Owned And Operated. If your property is listed with a real estate broker, please disregard. It is not our intention to solicit the offerings of other real estate brokers. We are happy to work with them and cooperate fully. Although information, including measurements, has been obtained from sources deemed reliable, accuracy is not guaranteed.
                    </p>
                </div>
            </div>
        </div>
    </footer>

        <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/tether/tether.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/owl-carousel/owl.carousel.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendor/vide/jquery.vide.min.js"></script>
    <script src="/vendor/wowjs/wow.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/js/contact_me.js"></script>
    <script src="/js/jqBootstrapValidation.js"></script>

    <!-- Custom scripts for this theme -->
    <script src="/js/vitality.js"></script>
    <script src="/js/background-slide.js"></script>
    <script src="/js/mylist-player.js"></script>

    <!-- Swiper JS -->
    <script src="/node_modules/swiper/dist/js/swiper.min.js"></script>

        <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container-1', {
        pagination: '.swiper-pagination-1',
        slidesPerView: 3,
        paginationClickable: true,
        nextButton: '.swiper-button-next-1',
        prevButton: '.swiper-button-prev-1',
        spaceBetween: 30,
        loop:true,
        breakpoints: {
            1200: {
                slidesPerView: 3,
                spaceBetween: 40
            },
            992: {
                slidesPerView: 2,
                spaceBetween: 30
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 20
            },
            576: {
                slidesPerView: 1,
                spaceBetween: 10
            }
        }
    });
    var swiper = new Swiper('.swiper-container-2', {
        pagination: '.swiper-pagination-2',
        slidesPerView: 3,
        paginationClickable: true,
        nextButton: '.swiper-button-next-2',
        prevButton: '.swiper-button-prev-2',
        spaceBetween: 30,
        loop:true,
        breakpoints: {
            1200: {
                slidesPerView: 3,
                spaceBetween: 40
            },
            992: {
                slidesPerView: 2,
                spaceBetween: 30
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 20
            },
            576: {
                slidesPerView: 1,
                spaceBetween: 10
            }
        }
    });
    </script>


    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script>
    $(function() {
      $('.card').on('click', function() {
        var href = $(this).data('href');
        if (href)
          window.location.href = href;
      });
    });
    </script>


</body>

</html>
