<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="vo7BtPXH4so9P5psmySov_t-nrWKbcsIIU-7vJ_pxFg" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sloma Real Estate Group - The Windy City's Best Resource for Real Estate Deals</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this theme -->
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
    <script src="https://use.typekit.net/jox6knn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Plugin CSS -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="/vendor/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/vendor/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/vendor/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet" type="text/css">

    <!-- Swiper CSS -->
    <link href="/node_modules/swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this theme -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>
</head>

<body id="page-top">



  <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse navbar-expanded" id="mainNav">
        <div class="container" style="display:flex;">
            <a class="navbar-brand page-scroll img-fluid" href="/">
              <img src="{{ logos.metadata.text_logo.url }}" alt="Sloma">
            </a>
            <div class="navbar-collapse collapse justify-content-end" id="navbarResponsive">
                <ul class="navbar-nav">
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/about" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/about">Welcome</a>
                          <a class="dropdown-item" href="/about#mission">Mission</a>
                          <a class="dropdown-item" href="/about#team">Team</a>
                          <a class="dropdown-item" href="/about#accomplishments">Accomplishments</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/listings" role="button" aria-haspopup="true" aria-expanded="false">Our Properties</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/listings">All Listings</a>
                          <a class="dropdown-item" href="/listings#coming-soon">Coming Soon</a>
                          <a class="dropdown-item" href="/listings#featured">Featured</a>
                          <a class="dropdown-item" href="/listings#sold">Sold</a>
                        </div>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/videos">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/explore" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/explore">Explore</a>
                          <a class="dropdown-item" href="/explore#search">Search</a>
                          <a class="dropdown-item" href="/explore#open-houses">Open Houses</a>
                          <a class="dropdown-item" href="/explore#subscribe">Subscribe</a>
                        </div>
                      </li>

                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-label="Toggle navigation">
                <span class="hidden-xs-down">Menu</span>
                <svg class="menu-bars" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 10">
                  <rect class="top" x="0" y="1" width="12" height="2" />
                  <rect class="middle" x="0" y="5" width="12" height="2"/>
                  <rect class="bottom" x="0" y="9" width="12" height="2" />
                </svg>
            </button>
        </div>
    </nav>
