
<section class="page-section bg-inverse text-white" id="about">
    <div class="container text-center wow fadeIn">
        <h2>Our Team</h2>
        <p class="mb-0">At Sloma Real Estate Group, we believe in delivering an individually-tailored and uncompromisingly thorough experience that is memorable for all of the right reasons. Whether you’re in the market for a new home or looking to sell your current one, we take pride in providing an unmatched service that seamlessly integrates the extensive resources of the Jameson Sotheby’s brand with the accessibly-refined elegance and unparalleled dedication of our knowledgable team.</p>
        <hr class="colored">
        <div class="team-carousel owl-carousel owl-theme mt-4">

          {{# cosmic.objects.type.authors }}

            <!-- Team Carousel Item 1 -->
            <div class="item">
                <div class="overlay"></div>
                <img class="img-fluid" src="{{ metadata.image.imgix_url }}" alt="">
                <div class="team-caption">
                    <h3>{{ title }}</h3>
                    <hr class="colored">
                    <p>{{ metadata.title }}</p>
                    <ul class="list-inline list-team-social">
                        {{# metadata.phone }}<li class="list-inline-item"><a href="tel:{{ metadata.phone }}"><i class="fa fa-phone fa-fw"></i></a></li>{{/ metadata.phone }}
                        {{# metadata.email }}<li class="list-inline-item"><a href="mailto:{{ metadata.email }}"><i class="fa fa-envelope fa-fw"></i></a></li>{{/ metadata.email }}
                        {{# metadata.twitter }}<li class="list-inline-item"><a href="http://twitter.com/{{ metadata.twitter }}"><i class="fa fa-twitter fa-fw"></i></a></li>{{/ metadata.twitter }}
                        {{# metadata.linkedin }}<li class="list-inline-item"><a href="http://linkedin.com/in/{{ metadata.linkedin }}"><i class="fa fa-linkedin fa-fw"></i></a>{{/ metadata.linkedin }}
                        </li>
                        {{# metadata.instagram }}<li class="list-inline-item"><a href="http://instagram.com/{{ metadata.instagram }}"><i class="fa fa-instagram fa-fw"></i></a></li>{{/ metadata.instagram }}
                    </ul>
                </div>
            </div>

          {{/ cosmic.objects.type.authors }}

        </div>
    </div>
</section>