<!-- Testimonials Section -->
    <section class="page-section testimonials bg-faded" id="testimonials">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="testimonials-carousel">

                      {{# cosmic.objects.type.testimonials }}
                        <!-- Testimonial Item 1 -->
                        <div class="item mb-4">
                            <p class="lead">{{ metadata.type }} | {{ metadata.neighborhood }} | {{ metadata.building_type }}</p>
                            <hr class="colored">
                            <p>{{{ content }}}</p>
                            <div class="testimonial-author">
                                <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                      {{/ cosmic.objects.type.testimonials }}

                    </div>
                </div>
            </div>
        </div>
    </section>