{{> header }}

  <!-- Background Image Section -->    
<div class="bg-image" style="background-image:url('{{ cosmic.object.contact.metadata.hero.imgix_url }}');"></div>
<header class="h-100" style="background:rgba(0,0,0,0.6);">

  <!-- Header Section -->
<div class="overlay"></div>
<div class="container h-100" >
  <div class="row h-100">
    <div class="col-12 my-auto text-white page-title">
          <h1><i class="fa fa-map"></i>Page Not Found.</h1>
          <h4><a href="/listings">Perhaps we can help you find what you are looking for.</a></h4>
    </div>
  </div>
</div>
</header>

{{> footer }}