{{> header }}

  <main>
    <section class="page-section bg-default" id="contact">
      <div class="container wow fadeIn mb-40">
      <!-- Main Content Section -->
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Message Sent</h1>
          </div>
          <div class="col-md-6 offset-md-3">
            <p>Thanks! Your message has been successfully sent. A friendly and professional agent will be in touch shortly. If you would like to begin your search in the meantime, feel free to browse our selection of <a href="./listings">listings</a> or return to the <a href="./">homepage.</a></p>
            <p>Additionally feel free to contact us directly by email at imsloma@gmail.com, or by phone at 773-317-0414.</p>
          </div>
        </div>
      </div>
    </section>
  </main>

{{> footer }}
