{{> header }}

      <!-- Background Image Section -->    
    <div class="bg-image" style="background-image:url('{{ cosmic.object.contact.metadata.hero.imgix_url }}?w=1000,auto=format,enhance&q=60');"></div>
    <header class="h-100" style="background:rgba(0,0,0,0.6);">

      <!-- Header Section -->
    <div class="overlay"></div>
    <div class="container h-100" >
      <div class="row h-100">
        <div class="col-12 my-auto text-white text-center page-title">
              <h1>{{ cosmic.object.contact.title }}</h1>
              <h4>{{ cosmic.object.contact.metadata.headline }}</h4>
              <hr>
        </div>
        <div class="scroll-down col-12">
          <a class="btn page-scroll" href="#contact">
              <i class="fa fa-angle-down fa-fw"></i>
          </a>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="page-section bg-default" id="contact">
      <div class="container wow fadeIn mb-40">
      <!-- Main Content Section -->
        <div class="row">
          <div class="col-md-12">
            <h1>Get In Touch Today</h1>
          </div>
          <div class="col-sm-6 col-xs-12">
            <p>{{{ cosmic.object.contact.content }}}</p>
          </div>
          <div class="col-sm-6  col-xs-12 pt-40">
            <form action="/contact" name="contactus" id="contactus" method="POST">
              <div class="form-group form-group--name">
                <label>Name</label>
                <input name="userName" type="text" id="userName" class="form-control input-lg" placeholder="Enter your full name">
              </div>
              <div class="form-group form-group--email">
                <label>Email</label>
                <input name="email" type="text" id="email" class="form-control input-lg" placeholder="Enter your email address">
              </div>
              <div class="form-group form-group--phone">
                <label>Phone (Optional)</label>
                <input name="phone" type="text" class="form-control input-lg phone-mask" placeholder="Enter your phone number">
              </div>
              <div class="form-group form-group--message">
                <label>Message</label>
                <textarea name="body" cols="40" rows="10" id="body" style="height: 150px" class="form-control input-lg" placeholder="Enter a message"></textarea>
              </div>
              <div class="alert alert-danger error-message d-none">
                Error
              </div>
              <div id="success"></div>
              <div class="form-group mt-20">
                <button class="btn btn-primary btn-lg submit-btn" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

{{> footer }}
