{{> header }}

<!-- Background Image Section -->
<div class="bg-image" style="background-image:url('{{ page.metadata.hero.imgix_url }}?w=1000,auto=format,enhance&q=60');"></div>
<header class="h-100" style="background:rgba(0,0,0,0.6);">
    <!-- Header Section -->
  <div class="overlay"></div>
  <div class="container h-100" style="max-height:100vh;">
    <div class="row h-100">
        <div class="col-12 my-auto text-white text-center page-title">
            <h1>{{ page.title }}</h1>
            <h4>{{ page.metadata.headline }}</h4>
            <hr>
        </div>
        <div class="scroll-down col-12">
          <a class="btn page-scroll" href="#home-search">
              <i class="fa fa-angle-down fa-fw"></i>
          </a>
        </div>
    </div>
  </div>
  <style>#ihf-main-container .page-header{display:none;}.fluidMedia{padding-bottom:100vh;}</style>
</header>

    <!-- Home Search -->
    <section class="page-section bg-faded" style="padding:100px 0 0 0;border-bottom:2px solid #222;" id="home-search">
      <div class="container text-center">
            <div class="row fluidMedia">
            <iframe src="http://slomagroup.idxhome.com/homesearch/82710" frameborder="0" onload="resizeIframe(this)" style="width:100%;" class="my-auto" id="homeSearch"></iframe>  
            </div>
      </div>
    </section>

    <!-- Map Search -->
    <section class="page-section bg-default" style="padding:100px 0 0 0;border-bottom:2px solid #222;" id="map-search">
      <div class="container text-center">
            <div class="row fluidMedia">
            <iframe src="http://slomagroup.idxhome.com/mapsearch/82710" frameborder="0" style="width:100%;" onload="resizeIframe(this)" class="my-auto"></iframe>  
            </div>
      </div>
    </section>

    <!-- Estimate -->
    <section class="page-section" id="estimate" style="background-size:cover;background-image:url('{{ cosmic.object.home.metadata.hero.imgix_url }}?w1000'); padding-bottom:0px;padding-top:150px;">
        <iframe class="my-auto" src="http://slomagroup.com/pages/widget/theme:15/site:slomarealestate.com/wid:1" height="450" width="100%" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" ></iframe>
    </section>
    
    <!-- Open Houses -->
    <section class="page-section bg-default" id="open-houses">
          <div class="container text-center">
            <div class="row fluidMedia">
                <iframe class="my-auto col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12" src="http://slomagroup.idxhome.com/openhomes/82710" onload="resizeIframe(this)" frameborder="0" style="width:100%;" class="my-auto" id="open-houses"></iframe>
            </div>
        </div>
    </section>

     <!-- Featured Open Houses -->

    <section class="page-section bg-inverse text-white wow" id="featured" style="position:relative;">
        <h2 class="text-center">Featured Open Houses</h2>
        <hr class="">
        <!-- Swiper -->
        <div class="swiper-container swiper-container-4 col-md-10 offset-md-1 col-sm-12 fadeIn">
            <div class="swiper-wrapper no-gutter upcoming-carousel" style="height:50vh;">

            {{# openhouses }}
                <div class="swiper-slide listing text-center col-xs-12" style="background-image: url('{{ metadata.hero.imgix_url }}?w=600&fit=crop&crop=entropy&auto=format'); background-repeat:no-repeat; background-size:cover; background-position: center;">
                    <h6 class="category">Open House</h6>
                    <h4><a href="/openhouses/{{ slug }}">{{ title }}</a></h4></div>
            {{/ openhouses }}
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="col-md-12 swiper-pagination swiper-pagination-4 text-center mx-auto"></div>

        <!-- Add Arrows -->
        <div class="col-md-12 swiper-navigation swiper-navigation-4 hidden-sm-down">
            <div class="swiper-button-next swiper-button-next-4"></div>
            <div class="swiper-button-prev swiper-button-prev-4"></div>
        </div>

    </section>

    <!-- Featured Open Houses -->

    <section class="page-section bg-default wow" id="neighborhoods" style="position:relative;">
        <h2 class="text-center">Neighborhoods</h2>
        <hr class="colored">
        <!-- Swiper -->
        <div class="container-fluid fadeIn no-gutter">
            <div class="row col-md-10 offset-md-1 col-sm-12" style="margin: 0px auto;">
                {{# neighborhoods }}
                    <a class="neighborhood col-xl-3 col-md-4 col-sm-6 col-sm-12" alt="{{ title }}" href="/neighborhoods/{{ slug }}">
                        <div style="background-image: url('{{ metadata.hero.imgix_url }}?w=600&fit=crop&crop=entropy&auto=format'); background-repeat:no-repeat; background-size:cover; background-position: center;"></div>
                    </a>
                {{/ neighborhoods }}
            </div>
        </div>
        <div class="text-center explore">
            <button class="btn-primary"><a href="/neighborhoods">View All Neighborhoods</a></button>            
        </div>
    </section>

    <!-- Newsletter Signup Call to Action -->
    <section class="page-section signup-form bg-inverse text-white" id="subscribe">
        <div class="container text-center">
            <h3 class="m0">Subscribe to our newsletter!</h3>
            <hr class="colored">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <!-- MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <!-- Replace the form action in the line below with your MailChimp embed action! Visit the documentation for additional instructions! -->
                        <form role="form" action="//slomarealestate.us16.list-manage.com/subscribe/post?u=a10aaa522ce52c84af182514c&amp;id=843aa288de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                            <div class="input-group input-group-lg">
                                <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address...">
                                <span class="input-group-btn">
                                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe!</button>
                                </span>
                            </div>
                            <div id="mce-responses">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                        </form>
                    </div>
                    <!-- End MailChimp Signup Form -->
                </div>
            </div>
        </div>
    </section>


{{> footer }}