{{> header }}

    <!-- Masthead -->
    <header class="masthead video">
        <div class="overlay"></div>
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 my-auto text-center text-white">
                    <a class="masthead-img img-fluid mb-3" alt="">
                        <img style="width:350px;" src="{{ cosmic.object.logos.metadata.full_sloma_logo.imgix_url }}?w=700" alt="Sloma Real Estate Group Logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="scroll-down">
            <!-- <a class="btn page-scroll" href="#estimate"> -->
            <a class="btn page-scroll" href="#listings">
                <i class="fa fa-angle-down fa-fw"></i>
            </a>
        </div>
    </header>

    <main>

<!-- Swiper -->
      <section class="page-section bg-faded">
            <h2 class="text-center">Featured Listings</h2>
            <hr class="dark">
        <div class="container-fluid text-center wow fadeIn" style="padding:0px !important;">
          <div class="row related col-md-10 col-xs-12">
            {{# cosmic.objects.type.listings }}
              <a href="/listings/{{ slug }}" class="thumb col-md-3 col-sm-6 col-xs-12">
                <img src="{{ metadata.hero.imgix_url }}?w=450" alt="">
                <h6 class="mt-2">{{ title }}</h6>
              </a>
            {{/ cosmic.objects.type.listings }}
          </div>
        </div>
      </section>

    <!-- Estimate -->
    <section class="page-section" id="estimate" style="background-size:cover;background-image:url('{{ cosmic.object.home.metadata.hero.imgix_url }}?=1000');">
        <iframe class="my-auto" src="http://slomagroup.com/pages/widget/theme:15/site:slomarealestate.com/wid:1" height="245" width="100%" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" ></iframe>
    </section>

    <!-- Team Section -->
    <section class="page-section" id="about">
        <div class="container text-center wow fadeIn">
            <h2>Our Team</h2>
            <hr class="colored">
            <div class="team-carousel owl-carousel owl-theme mt-4">

              {{# cosmic.objects.type.authors }}

                <!-- Team Carousel Item 1 -->
                <div class="item">
                    <div class="overlay"></div>
                    <img class="img-fluid" src="{{ metadata.image.imgix_url }}?w=400&fit=crop&crop=entropy&auto=format,enhance" alt="">
                    <div class="team-caption">
                        <h3>{{ title }}</h3>
                        <hr class="colored">
                        <p>{{ metadata.title }}</p>
                        <ul class="list-inline list-team-social">
                            {{# metadata.phone }}<li class="list-inline-item"><a href="tel:{{ metadata.phone }}"><i class="fa fa-phone fa-fw"></i></a></li>{{/ metadata.phone }}
                            {{# metadata.email }}<li class="list-inline-item"><a href="mailto:{{ metadata.email }}"><i class="fa fa-envelope fa-fw"></i></a></li>{{/ metadata.email }}
                            {{# metadata.twitter }}<li class="list-inline-item"><a href="http://twitter.com/{{ metadata.twitter }}"><i class="fa fa-twitter fa-fw"></i></a></li>{{/ metadata.twitter }}
                            {{# metadata.linkedin }}<li class="list-inline-item"><a href="http://linkedin.com/in/{{ metadata.linkedin }}"><i class="fa fa-linkedin fa-fw"></i></a>{{/ metadata.linkedin }}
                            </li>
                            {{# metadata.instagram }}<li class="list-inline-item"><a href="http://instagram.com/{{ metadata.instagram }}"><i class="fa fa-instagram fa-fw"></i></a></li>{{/ metadata.instagram }}
                        </ul>
                    </div>
                </div>

              {{/ cosmic.objects.type.authors }}

            </div>
            <hr class="colored">
            <a href="/about" class="btn btn-primary">Learn More About Our Team</a>
        </div>
    </section>

    <!-- Mission Section -->
    <section class="page-section text-white" id="mission" style="background-color:rgba(0,0,0,0.8);">
        <div class="container text-center wow fadeIn">
            <h2>Our Mission</h2>
            <p class="mb-0">At Sloma Real Estate Group, we believe in delivering an individually-tailored and uncompromisingly thorough experience that is memorable for all of the right reasons. Whether you’re in the market for a new home or looking to sell your current one, we take pride in providing an unmatched service that seamlessly integrates the extensive resources of the Jameson Sotheby’s brand with the accessibly-refined elegance and unparalleled dedication of our knowledgeable team. At Sloma Real Estate Group, we prioritize simplicity and professionalism, and work relentlessly to ensure that each of our clients’ have their expectations not only met, but exceeded.</p>
            <hr>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section class="page-section testimonials bg-faded" id="testimonials">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="testimonials-carousel">

                      {{# cosmic.objects.type.testimonials }}
                        <!-- Testimonial Item 1 -->
                        <div class="item mb-4">
                            <p class="lead">{{ metadata.type }} | {{ metadata.neighborhood }} | {{ metadata.building_type }}</p>
                            <hr class="colored">
                            <p>{{{ content }}}</p>
<!--                             <div class="testimonial-img">
                                <img class="rounded-circle img-fluid" src="{{ metadata.profile.imgix_url }}" alt="">
                            </div> -->
                            <hr class="colored">
                            <div class="testimonial-author">

<!--                                 <span class="name">{{ title }}</span>
                                <p class="small">{{ metadata.location }}</p> -->
                                <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                      {{/ cosmic.objects.type.testimonials }}

                    </div>
                </div>
            </div>
        </div>
    </section>

  </main>
{{> footer }}

