{{> header }}

<script type="text/javascript">
    // browser compatibility: get method for event 
    // addEventListener(FF, Webkit, Opera, IE9+) and attachEvent(IE5-8)
    var myEventMethod = 
        window.addEventListener ? "addEventListener" : "attachEvent";
    // create event listener
    var myEventListener = window[myEventMethod];
    // browser compatibility: attach event uses onmessage
    var myEventMessage = 
        myEventMethod == "attachEvent" ? "onmessage" : "message";
    // register callback function on incoming message
    myEventListener(myEventMessage, function (e) {
        // we will get a string (better browser support) and validate
        // if it is an int - set the height of the iframe #my-iframe-id
        if (e.data === parseInt(e.data)) 
            document.getElementById('iFrame1').height = e.data + "px";
    }, false);
</script>
    
    <style>
        iframe {
          width: 100%;
        }
        .aspect-ratio {
          position: relative;
          width: 100%;
          background: white;
        }
    </style>

    <div class="bg-image" style="background-image:url('{{ page.metadata.hero.imgix_url }}?w=1000,auto=format,enhance&q=60');"></div>
    <header class="h-100" style="background:rgba(0,0,0,0.6);">
        <!--  -->
        <div class="overlay"></div>
            <div class="container h-100" >
                <div class="row h-100">
                    <div class="col-12 my-auto text-white page-title text-center">
                        <h1>{{ page.title }}</h1>
                        <h4>{{ page.metadata.headline }}</h4>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-down col-12">
            <a class="btn page-scroll" href="#featured">
                <i class="fa fa-angle-down fa-fw"></i>
            </a>
        </div>
    </header>

<main>
    
    <div class="aspect-ratio" id="featured">
        <iframe id="iFrame1" src="http://slomagroup.idxhome.com/featured/82710" frameborder="0"></iframe>        
    </div>

    <!-- Coming Soon Listings -->
    <section class="page-section transactions bg-faded" id="coming-soon">
        <div class="container wow fadeIN">
            <h1 class="text-center">Coming Soon</h1>
            <hr class="colored">
            <div class="row">
            {{# upcoming_listings }}
                <div class="col-lg-6 listing {{ metadata.category }}">
                    <a href="/listings/{{ slug }}">
                    <span class="category"><h6>Under Construction</h6></span>
                    </a>
                    <div class="image-holder" style="background-image:url('{{ metadata.hero.imgix_url }}?w=600&fit=crop&crop=entropy&auto=format');">
                        <h4 class="text-center"><a href="/listings/{{ slug }}">{{ title }} </a></h4>
                    </div>
                    <div class="meta d-flex flex-row justify-content-around mb-3">
                        {{# metadata.beds}}<span class="beds"><strong><i class="fa fa-bed"></i> Beds:</strong><br> {{ metadata.beds}}</span>{{/ metadata.beds}}
                        {{# metadata.baths}} <span class="baths"><strong><i class="fa fa-bath"></i> Baths:</strong><br> {{ metadata.baths}}</span> {{/ metadata.baths}}
                        {{# metadata.property_type}} <span class="property_type"><strong><i class="fa fa-home"></i> Type:</strong><br> {{ metadata.property_type}}</span> {{/ metadata.property_type}}
                        {{# metadata.price}} <span class="price"><strong><i class="fa fa-money"></i> Price:</strong><br> {{ metadata.price}}</span> {{/ metadata.price}}
                    </div>
                </div>
            {{/ upcoming_listings }}
            </div>
        </div>
    </section>

    <!-- Sold Listings -->
    <section class="page-section transactions bg-default" id="sold">
        <div class="container wow fadeIN">
            <h1 class="text-center">Sold Properties</h1>
            <hr class="colored">
            <h4 class="text-center">Page Coming Soon</h4>
        </div>
    </section>


</main>




{{> footer}}