{{> header }}
	
	<div class="bg-image" style="background-image:url('{{ page.metadata.hero.imgix_url }}?auto=format,enhance&q=60');"></div>
    <header class="h-100" style="background:rgba(0,0,0,0.6);">
    	<!--  -->
        <div class="overlay"></div>
	        <div class="container h-100" >
				<div class="row h-100">
	                <div class="col-12 my-auto text-white page-title text-center">
                        <h1>{{ page.title }}</h1>
                        <h4>{{ page.metadata.headline }}</h4>
                        <hr>
	                </div>
	            </div>
			</div>
		</div>
	</header>

<main>

    <!-- Coming Soon -->

    <section class="page-section bg-inverse text-white" style="position:relative;">
        <h2 class="text-center">Coming Soon</h2>
        <hr class="">
        <!-- Swiper -->
        <div class="swiper-container col-md-9 col-md-10 col-sm-12 wow fadeIn">
            <div class="swiper-wrapper no-gutter " style="height:50vh;">
            {{# listings }}
                <div class="swiper-slide listing text-center col-xs-12" style="background-image: url('{{ metadata.hero.imgix_url }}?w=600&fit=crop&crop=entropy&auto=format'); background-repeat:no-repeat; background-size:cover; background-position: center;"><h4><a href="/listings/{{ slug }}">{{ title }}</a></h4></div>
            {{/ listings }}
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="col-md-12 swiper-pagination text-center mx-auto"></div>

        <!-- Add Arrows -->
        <div class="col-md-12 swiper-navigation hidden-sm-down">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

    </section>

    <!-- Recent Transactions -->
    <section class="page-section transactions bg-faded">
        <div class="container wow fadeIN">
            <div class="row">
            {{# listings }}
                            <div class="col-lg-6 listing">
                                <img src="{{ metadata.hero.imgix_url }}?w=600&fit=crop&crop=entropy&auto=format" width="" alt="">
                                <h4 class="text-center"><a href="/listings/{{ slug }}">{{ title }} </a></h4>
                                <div class="meta d-flex flex-row justify-content-around mb-3">
                                    {{# metadata.beds}}<span class="beds">Beds:<strong> {{ metadata.beds}}</strong></span>{{/ metadata.beds}}
                                    {{# metadata.baths}} <span class="baths">Baths:<strong> {{ metadata.baths}}</strong></span> {{/ metadata.baths}}
                                    {{# metadata.price}} <span class="price">Price:<strong> {{ metadata.price}}</strong></span> {{/ metadata.price}}
                                </div>
                            </div>
            {{/ listings }}
            </div>
        </div>
    </section>

</main>


{{> footer}}