{{> header }}

<!-- Background Image Section -->
<div class="bg-image" style="background:#222 cover center; background-image:url('{{ page.metadata.hero.imgix_url }}?w1000');"></div>
    <!-- Header Section -->
  <div class="overlay"></div>
  <div class="container h-100" >
    <div class="row h-100">
      <div class="col-12 my-auto text-white page-title">
            <h1>{{ page.title }}</h1>
            <h4>{{ page.headline }}</h4>
      </div>
    </div>
  </div>
</header>

<main>

  <section class="page-section bg-default">
    <div class="container wow fadeIn mb-40">
  <!-- Main Content Section -->
      <div class="row">
        <div class="col-md-12">
          <h1>{{ content }}</h1>
        </div>
      </div>

    </div>

   </section>



 </main>

{{> footer }}