{{> header }}

    <div class="bg-image" style="background-image:url('{{ cosmic.object.testimonials.metadata.hero.imgix_url }}');"></div>
    <header class="h-100" style="background:rgba(0,0,0,0.6);">
        <div class="overlay"></div>
          <div class="row h-100">
            <div class="col-12 text-white page-title text-center my-auto">
                  <h1>{{ page.title }}</h1>
                  <h4>{{ page.metadata.headline }}</h4>
            </div>
        </div>
    </header>

    <style>header.masthead{background-color:rgba(0,0,0,0.8);</style>
<main>

<!-- Testimonials Section -->
    <section class="page-section testimonials bg-faded">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="testimonials-container">

                      {{# cosmic.objects.type.testimonials }}
                        <!-- Testimonial Item 1 -->
                        <div class="item mb-4">
                            <p class="lead">{{ metadata.type }} | {{ metadata.neighborhood }} | {{ metadata.building_type }}</p>
                            <hr class="colored">
                            <p>{{{ content }}}</p>
                            <div class="testimonial-author">
                                <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                      {{/ cosmic.objects.type.testimonials }}

                    </div>
                </div>
            </div>
        </div>
    </section>

{{> footer }}