{{> header }}

    <div class="bg-image" style="background-image:url('{{ cosmic.object.testimonials.metadata.hero.imgix_url }}?w=1000,auto=format,enhance&q=60');"></div>
    <header class="h-100" style="background:rgba(0,0,0,0.6);">
        <div class="overlay"></div>
        <div class="row h-100">
            <div class="col-12 text-white page-title text-center my-auto">
                  <h1>{{ page.title }}</h1>
                  <h4>{{ page.metadata.headline }}</h4>
                  <hr>
            </div>
            <div class="scroll-down col-12">
              <a class="btn page-scroll" href="#{{ page.title }}">
                  <i class="fa fa-angle-down fa-fw"></i>
              </a>
            </div>
        </div>
    </header>

    <style>header.masthead{background-color:rgba(0,0,0,0.8);</style>
<main>

<!-- Testimonials Section -->
    <section class="page-section testimonials bg-faded" id="{{ page.title }}">
        <div class="container wow fadeIn">
            {{# cosmic.objects.type.testimonials }}
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="testimonials-container">

                          
                            <!-- Testimonial Item 1 -->
                            <div class="item mb-4">
                                <p class="lead">{{ metadata.type }} {{# metadata.neighborhood }}| {{ metadata.neighborhood }} {{/ metadata.neighborhood }}{{# metadata.building_type }} | {{ metadata.building_type }}{{/ metadata.building_type }}</p>
                                <hr class="colored">
                                <p>{{{ content }}}</p>
                                <div class="testimonial-author">
                                    <div class="stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                          

                        </div>
                    </div>
                </div>
                <hr class="colored mt-5">
            {{/ cosmic.objects.type.testimonials }}
        </div>
    </section>

{{> footer }}