{{> header }}

    <!-- Header Section -->
<section class="bg-inverse page-section">  
  <div class="container h-75" >
    <div class="row h-100">
      <div class="col-12 text-white page-title text-center">
            <h1>{{ cosmic.object.videos.title }}</h1>
            <h4>{{ cosmic.object.videos.metadata.headline }}</h4>
      </div>
    </div>
  </div>
</section>

<main>

  <section class="page-section bg-default">
    <div class="container wow fadeIn mb-40">
	<!-- Main Content Section -->
      <div class="row">
        <div class="col-md-12">
		    <div style="position:relative;height:0;padding-bottom:56.25%">
			    <iframe src="https://www.youtube.com/embed/fjiW1mh6cgM?list=PLbA7J2SR-TzF_ip8IyPbQEK0uvO6EYLdP?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe>
		    </div>
        </div>
      </div>

    </div>

   </section>



 </main>

{{> footer }}