{{> header }}

    <!-- Header Section -->
<section class="bg-inverse page-section">  
  <div class="container h-75" >
    <div class="row h-100">
      <div class="col-12 text-white page-title text-center">
            <h1>{{ cosmic.object.videos.title }}</h1>
            <h4>{{ cosmic.object.videos.metadata.headline }}</h4>
      </div>
    </div>
  </div>
</section>

<main>

  <section class="page-section bg-default">
    <div class="container wow fadeIn mb-40">
	<!-- Main Content Section -->
      <div class="row">
        <div class="col-md-12">
  		    <div id="player-container1" class="player-container">
              <!-- THE YOUTUBE PLAYER -->
              <div class="mlvp-container">
                  <div id="vid_frame1"></div>
              </div>
              <!-- LEFT AND RIGHT ARROWS -->
              <div class="mlvp-arrows">
                  <div class="mlvp-arrow-left"><i class="demo-icon icon-left-open fa fa-chevron-left"></i></div>
                  <div class="mlvp-arrow-right"><i class="demo-icon icon-right-open fa fa-chevron-right"></i></div>
              </div>
              <!-- THE PLAYLIST -->
              <div class="mlvp-list-container">
                  <div class="mlvp-list noselect" ></div>
              </div>
          </div>
		    </div>
      </div>

    </div>

   </section>



 </main>

{{> footer }}